.container {
    height: 100%;
    padding: 0 16.0rem;
    margin-bottom: 5rem;

    header {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        padding: 4rem 0;
        margin-bottom: .8rem;

        .toggle {
            &-box {
                display: grid;
                justify-items: end;
                grid-template-columns: 1fr 4.8rem;
            }
            &-ui-state {
                align-self: center;
                padding-right: 2rem;
            }
        }
    }

    .followers {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 2rem;
        margin-bottom: 5rem;

        .user-name {
            display: grid;
            grid-template-columns: 30px 60px;
            align-items: center;
        }
    }

    .overview {
        &__info {
            display: grid;
            grid-template-columns: repeat(4, 1fr);
            grid-template-rows: repeat(2, 1fr);
            grid-gap: 2rem;
        }
    }
}