/* COLORS */

// Primary

$color-lime-green: hsl(163, 72%, 41%);
$color-bright-red: hsl(356, 69%, 56%);

// Logos

$color-facebook-logo: hsl(195, 100%, 50%);
$color-twitter-logo: hsl(203, 89%, 53%);
$color-instagram-logo: linear-gradient(hsl(37, 97%, 70%), hsl(329, 70%, 58%));
$color-youtube-logo: hsl(348, 97%, 39%);

// Dark theme

$dark-theme: linear-gradient( hsl(210, 78%, 56%), hsl(146, 68%, 55%) );
$light-theme: hsl(230, 22%, 74%);

// Neutral

/// Dark theme
$color-dark-blue-bg: hsl(230, 17%, 14%); // bg: dark theme, text: light theme
$color-dark-blue-top-bg: hsl(232, 19%, 15%);
$color-dark-desaturated-blue-card-bg: hsl(228, 28%, 20%);
$color-desaturated-blue-text: hsl(228, 34%, 66%);
$color-white: hsl(0, 0%, 100%); // text: dark, bg: light

/// Light theme
$color-pale-blue-top-bg: hsl(225, 100%, 98%);
$color-light-grayish-blue-card-bg: hsl(227, 47%, 96%);
$color-dark-grayish-blue-text: hsl(228, 12%, 44%);

/* FONTS */

$font-family: 'Inter', sans-serif;
