body {
    background: $color-dark-blue-bg;
}

.up {
    color: $color-lime-green;
}

.down {
    color: $color-bright-red;
}

.header__sub-title,
.toggle-ui-state,
.user-name,
.user--subtitle,
.activity-title {
    color: $color-desaturated-blue-text;
}
       